{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<h1>Welcome to the bank</h1>
<br>
Current account is at {{ account_amount }}
<br><br>
Please select operation
<br><br>
<form method="post">
  
    <button name="deposit_button" type="submit" value="deposit_button">Deposit</button>
    <button name="withdraw_button" type="submit" value="withdraw_button">Withdraw</button>
</form>
<br><br><br>

{% if operation %}
    {% if operation=="deposit" %}
    Enter amount to deposit
    {% elif operation=="withdrawal" %}
    Enter amount to withdraw
    {% endif %}

<form method="post">
    <input name="operation_amount" type="text" value="" />
    <br>
    <button type="submit" value="submit">Submit</button>
</form>
<br><br>
{% endif %}
{% if errorflag %}
Please enter a valid amount
{% endif %}

{% endblock %}